* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #333333;
	color: #EEEEEE;
}

.glyphicon-thumbs-up, .glyphicon-thumbs-down {
	cursor: pointer
}

.spot-title {
	font-size: 20px;
	margin-left: 10px;
}

.btn-add-spot {
	margin-top: 30px;
}

.title-header {
	font-family: 'Lobster', cursive;
	font-size: 6em;
}

.comment-text {
	font-size: 20px;
	margin-left: 10px;
}

.btn-add-comment {
	margin-top: 30px;
}

.register-form {
	margin-top: 30px;
}

.login-form {
	margin-top: 30px;
}

.comments-link {
	font-size: .5em;
}
